*
obj/*
!*/
!*.cpp
!*.hpp
!*.tpp
!*.cc
!*.h
!*.a
!Makefile
!.gitignore
!.devcontainer/*
!.gdbinit
!.pretty_printer.py
!config/*
!cgi-bin/*
!nginx/webserv.conf
!www/*
!www/*/*
!www/*/*/*
!echoserver/*

asset/*
googletest
config.md

